@{
    ViewBag.Title = "My Courses";
    var courses = ViewData["Courses"] as List<CourseUser>;
    var progresses = ViewData["Progresses"] as List<Progress>;
    var condition = progresses != null && progresses.Count > 0;
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/lightslider.css" />
}
@model List<WebApplication5.Models.CourseUser>

@if (condition)
{
    <section class="bg-primary mt-5 pt-5">
        <div class="container pb-5 mt-4">
            <h1 class="text-light mb-5 text-center">Continue watching</h1>
            <div class="d-flex justify-content-center">
                <ul class="autoWidth cs-hidden mb-3">
                    @foreach (var courseUser in courses)
                    {
                        var course = courseUser.Course;
                        string imageDataUrl = "/img/undraw_online_test_gba7.png";
                        if (course.Image != null)
                        {
                            string imageBase64Data = Convert.ToBase64String(course.Image.ImageData);
                            imageDataUrl = $"data:{course.Image.ImageType};base64,{imageBase64Data}";
                        }
                        var progress = Progress.ProgressCounter(progresses.Where(el => el.CourseUser.CourseId.Equals(course.CourseId)).ToList());
                        <li class="item-a">
                            <div class="card" style="width: 16rem;">
                                <img class="card-img-top bg-primary" src="@imageDataUrl" style="opacity: 0.9" alt="Card image cap">
                                <div class="position-absolute pt-1 h5">
                                    <span class="badge badge-pill badge-warning">@course.Category.Title</span>
                                </div>
                                <div class="position-absolute right-0 pt-1 pr-1 h5">
                                    <a href="@Url.ActionLink("Info","Course",new { id=course.CourseId})"><img src="~/img/info.svg" class="zoom" width="30" alt="Alternate Text" /></a>
                                </div>
                                <div class="card-body mt-4 pb-0">
                                    <h5 class="card-title position-absolute">@course.Title</h5>
                                    <p class="courseDesc pt-5">@course.TitleDescription</p>
                                    <div class="progress mt-2 mb-2">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: @(progress)%;" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100">@progress%</div>
                                    </div>
                                </div>
                                <div class="card-footer mt-0 p-2">
                                    <a asp-action="Lecture" asp-route-id="@course.CourseId" class="btn btn-outline-success btn-block">Continue</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>

    </section>
}

@if (Model != null && Model.Count > 0)
{
    <div class="@(condition?"":"mt-5 pt-2") mb-3">
        <div class="container-fluid bg-secondary text-light @(condition?"":"mt-5") pt-4 pb-4">
            <div class="container">
                <div class="row w-100">
                    <span class="col-6 col-md-8 h3">All courses</span>
                    <div class="col-6 pl-0 col-md-4">
                        <div class="input-group mb-2">
                            <input type="text" class="form-control searchCourses" placeholder="Search courses">
                            <div class="input-group-append">
                                <button class="btn btn-danger">
                                    <img src="~/img/search.svg" width="20" height="18" alt="Search loup" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container pt-2">
        <div class="row justify-content-center">
            <h3 id="status"></h3>
            @foreach (var cu in Model)
            {
                var course = cu.Course;
                var temp = ViewData["CourseUsers"] as List<WebApplication5.Models.CourseUser>;
                var courseUsers = temp.Where(el => el.CourseId.Equals(course.CourseId)).ToList();
                var progress = Progress.ProgressCounter(progresses.Where(el => el.CourseUser.CourseId.Equals(course.CourseId)).ToList());
                string imageDataUrl = "/img/undraw_online_test_gba7.png";
                if (course.Image != null)
                {
                    string imageBase64Data = Convert.ToBase64String(course.Image.ImageData);
                    imageDataUrl = $"data:{course.Image.ImageType};base64,{imageBase64Data}";
                }
                var ratingStudents = course.Participants.Where(el => el.Rating > 0).Count();

                <div class="col-auto mb-3 course">
                    <div class="card">
                        <img src="@imageDataUrl" height="150" class="card-img-top" alt="...">
                        <div class=" position-absolute pt-1 h5">
                            <span class="badge badge-pill badge-warning">@course.Category.Title</span>
                        </div>
                        <div class="position-absolute right-0 pt-1 pr-1 h5">
                            <a href="@Url.ActionLink("Info","Course",new { id=course.CourseId})"><img src="~/img/info.svg" class="zoom" width="30" alt="Alternate Text" /></a>
                        </div>
                        <div id="courseBody" class="card-body mb-0">
                            <h6 class="card-title position-absolute pr-1 courseTitle h6">@course.Title</h6>
                            <p class="card-text courseDesc pt-5 small">
                                @course.TitleDescription
                            </p>
                            <div class="mb-3">
                                <a href="@Url.ActionLink("Profile","Home", new { id=course.Author})" class="small d-inline courseAuthor">@course.Author</a>
                                <span class="d-inline float-right font-weight-bold pt-1 small">Last update: @(course.UpdateDate.ToShortDateString())</span>
                            </div>

                            <span class="d-flex justify-content-center mb-0 pb-0 h5">
                                <span class="pt-1">@(courseUsers.Sum(el=>el.Rating)/(ratingStudents==0 ? 1: ratingStudents))</span>
                                <img src="~/img/star.svg" width="25" class="ml-1 mr-2" alt="Rating" />
                                <span class="text-muted h6 pt-1">(@ratingStudents)</span>
                            </span>
                        </div>
                        <div class="card-footer p-2">
                            <a href="@Url.Action("Lecture", "Course", new { id = course.CourseId })" class="btn btn-success btn-block">@(progress>0?"Continue":"Start")</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}
else
{
    <div class=" mt-5 pt-5 mb-5 pb-3">
        <div class="container mt-5 pt-5">
            <div class="jumbotron bg-secondary text-light border mt-5 mb-5 shadow jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="display-4">Hey, @(User.Identity.Name)</h1>
                            <p class="lead">You haven't enrolled any course yet. Explore courses and start learning today!</p>
                            <a class="btn btn-primary btn-lg" asp-action="Explore" role="button">Explore</a>
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <img src="~/img/explore.svg" class="col-xl-10" alt="Course" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

}





@section Scripts{
    <script type="text/javascript" src="~/js/lightslider.js"></script>
    <script src="~/js/courseSliderAndSearch.js" type="text/javascript"></script>
}
